language: python

python:
  - "3.6"

services:
  - postgresql

env:
  global:
    - DJANGO_SETTINGS_MODULE="barca.settings-travis"

install: pip install -r requirements.txt

before_script:
  - psql -c 'CREATE DATABASE travis_ci_db;' -U postgres

script:
  - python manage.py test