{% extends "football/base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid">
<table class="table table-striped">
<thead>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Season</td>
    </tr>
</thead>
{% for competition in view.competitions %}
    <tr>
        <td>{% if competition.logo %}
            <img src="{% get_static_prefix %}competitions/{{competition.competition_id}}.png" class="img-portrait img-thumbnail">
            {% else %}
            <img src="{% static "players/0.png" %}" class="img-portrait img-thumbnail">
            {% endif %}
        </td>
        <td>{{competition.name}}</td>
        <td>
            <div class="dropdown show">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View Seasons 
                </button>                     
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for season in competition.seasons.all %}
                    <a class="dropdown-item" href="#">{{season}}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
    </tr>
{% endfor %}       
</table>
</div>
{% endblock content %}
