{% extends "football/base.html" %}
{% block comps %}active{% endblock comps %}
{% block content %}
{% load static %}

<div class="container-fluid">
<table class="table table-striped">
<thead>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Season</td>
        <td></td>
    </tr>
</thead>
{% for competition in view.competitions %}
    <tr>
        <td>
            {% if competition.logo %}
            <img src="{% get_media_prefix %}{{competition.logo}}" class="img-portrait img-thumbnail">
            {% else %}
            <img src="{% get_static_prefix %}other/competition.svg" class="img-portrait img-thumbnail">
            {% endif %}
        </td>
        <td>{{competition.name}}</td>
        <td>
            <div class="dropdown show">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if not competition.seasons.all %}disabled{% endif %}>
                    View Seasons 
                </button>                     
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for season in competition.seasons.all %}
                    <a class="dropdown-item" href="{% url 'season' competition.competition_id season.season_id %}">{{season.years}}</a>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td>
            <a href="{% url 'competitionsedit' competition.competition_id %}" role="button" class="btn btn-primary">Edit</button>
        </td>
        <td>
            <a href="{% url 'competitionsdelete' competition.competition_id %}" role="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
{% endfor %}  
</table>
</div>
<a href="{% url 'competitionsadd' %}" role="button" class="btn btn-primary">Add Competition</button>

{% endblock content %}
