{% extends "football/base.html" %}
{% block players %}active{% endblock players %}
{% block content %}
{% load static %}
<div class="container-fluid">
<table class="table table-striped">
<thead>
    <tr>
        <td></td>
        <td>Name</td>
        <td>Nationality</td>
        <td><center>Club</center></td>
        <td>Club Number</td>
    </tr>
</thead>
{% for player in view.players %}
    <tr>
        <td>{% if player.portrait %}
            <img src="{% get_media_prefix %}{{player.portrait}}" class="img-portrait img-thumbnail">
            {% else %}
            <img src="{% get_static_prefix %}other/player.svg" class="img-portrait img-thumbnail">
            {% endif %}
        </td>
        <td><a href="{{player.player_id}}/">{{player.first_name}} {{player.last_name}}</a></td>
        <td><img src="{% get_static_prefix %}countries/{{player.nationality}}.svg" class="img-flag img-thumbnail"></td>
        <td>
            {% if player.current_team.crest %}
            <img src="{% get_media_prefix %}{{player.current_team.crest}}" class="img-portrait mx-auto d-block">
            {% else %}
            <img src="{% get_static_prefix %}other/team.svg" class="img-portrait mx-auto d-block">
            {% endif %}
        </td>
        <td>#{{player.club_number}}</td>
        <td>
            <a href="{% url 'playersedit' player.player_id %}" role="button" class="btn btn-primary">Edit</button>
        </td>
        <td>
            <a href="{% url 'playersdelete' player.player_id %}" role="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
{% endfor %}       
</table>
</div>
<div class="container-fluid">
    <a href="{% url 'playersadd' %}" role="button" class="btn btn-primary">Add Player</a>
</div>
{% endblock content %}